doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 게시글 목록
    link(href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet")
    link(href="/css/main/main.css" rel="stylesheet")
    link(href="/css/board/board.css" rel="stylesheet")
    script(src="/js/common/axios.js")
    script(src="/js/main/main.js" defer)
  body
    .diary-container
      input(type="hidden" name="_csrf" value=csrfToken)
      .left-side
        h2 #{user.name}의 다이어리
        .profile-pic
          img(src=`/${user.profilePic}` alt="프로필 사진")
        ul.profile-info
          li 생일: #{user.birthday}
          li 별자리: #{user.zodiac}
          li MBTI: #{user.mbti}
          li 번호: #{user.phone}
        button.btn.btn-logout#logout-button 로그아웃
      .right-side
        .board-container
          .board-header
            h2 게시글 목록
            a.btn-new-post(href="/board/new") 글쓰기
          ul.post-list
            each post in boards
              li.post-item
                .post-title
                  a(href=`/board/${post.id}`) #{post.title}
                .post-meta 작성자: #{post.author} | 작성일: #{post.date}
